
.custom-menu .nav-link {
  color: #fff !important; 
  text-decoration: none;
  transition: color 0.3s ease;
  border-left: 4px solid #212529 !important; 
}

/* Hover state color */
.custom-menu .nav-link:hover {
  color: #ffcc00 !important; /* Force the color to your custom hover color */
}

/* Active link color and style */
.custom-menu .nav-link.active {
  color: #ffcc00 !important; 
  background-color: rgba(255, 255, 255, 0.1)  !important; 
  border-left: 4px solid #ffcc00 !important; 
}

/* Optional: Override any background color applied to the links */
.custom-menu .nav-link{
  background-color: transparent !important;
}

  